{% block social_share %}
	{% if ( fields ) %}
		<section class="block block-footer block-wide social-share-block-wrap">
			<div class="social-share-img-contanier">
			<div>{{fields.title}}</div>
				<img src="{{ fields.background_src.0|default(fields.default_image) }}"
					 style="object-position:{{ fields.focus_image }};opacity:{{ fields.opacity }};"
					 border="0"
					 srcset="{{ fields.background_srcset }}"
					 sizes="{{ fields.background_sizes }}"
					 alt="{{ fields.background_alt }}"
				/>
				</div>
		</section>
	{% endif %}
{% endblock %}
